@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   20 Russell Street<br />
    East Cannington<br />
    <abbr title="Phone">P:</abbr>
    0421 XXX XXX
</address>

<address>    
    <strong>Email:</strong> <a href="mailto:aliminto@gerejaoikos.org.au">aliminto@gerejaoikos.org.au</a>
</address>