
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    <span class="label label-danger">Something went wrong!</span>
</h2>

<p> Try that again, and if still doesn't work, let me know in aliminto@gerejaoikos.org.au</p>



